
<p>ようこそながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要です。</p>


<h3>新着商品</h3>
 <% @items.each do |item| %>
 
 <p>商品名</p>
  <%= image_tag item.get_item_image(100,100) %>
    <%= item.name %>
    <% end %>